@addTagHelper *, Mircosoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="outer">
            <form class = "inner" method="post">
                <label>Enter Name:</label><br />
                <input  type="text" name="UserName" />
                <br />
                <input type="submit" value="send" />
            </form>
    </div>
</body>
</html>